<html>
    <head>
        <h1>This is a simple testing todo</h1>

    </head>
    <body>
        <form action="">
            <input type="text" placeholder="Enter your name">
            <input type="email" placeholder="Enter your email">
            <input type="password" placeholder="Enter your password">
            <input type="submit" placeholder="submit">
        </form>

    </body>
</html>